.accueil-bg {
  height: 89vh;
  width: 100%;
  background: url('../Images/Banniereaccueil.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'MaPoliceBlack', sans-serif;
}
.overlay {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 89%;
  padding: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.presentation{
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-size: 18px;
}
.sae-presentation{
  width: 90%;
  height: 350px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.sae-img{
  width: 31%;
  height: 90%;
}
.sae-description{
  width: 65%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  font-family: 'MaPoliceRegular', sans-serif;
}
.titre{
  font-size: 40px;
  color: #ffcc00;
  font-family: 'MaPoliceBlack', sans-serif;
}
.gras{
  padding-right:5px ;
  padding-left:5px ;
  font-family: 'MaPoliceBlack', sans-serif;
}
.document-container{
  width: 35%;
  height: 150px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.doc-img{
  width: 25%;
  height: 100%;
  border: solid 3px black;
}
.doc-description{
  width: 75%;
  height: 67%;
  margin-top: 15px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
  padding-left: 5px;
}
.doc-description-top{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 13px;
  color: #ffcc00;
}
.doc-description-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: -10px;
}
.doc-weight{
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 11px;
  color: #fff;
}
.download{
  width: 40%;
  height: 50%;
  background-color: rgb(186, 180, 180);
  border: none;
  margin-right: 15px;
}

.chiffres{
  width: 80%;
  height:300px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.chiffres-plante{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
}
.plante-chiffre{
  width: 6%;
  height: 70%;
  margin-left: 90%;
}
.chiffres-container{
  width: 100%;
  height: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
}
.chiffres-container-left{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffcc00;
  border-radius: 10px 0 0 10px;
}
.chiffres-container-left-top{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 30px;
  text-align: center;
}
.chiffres-container-left-bottom{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -12px;
}
.chiffres-courbes{
  width: 45%;
  height: 80%;
}
.chiffres-container-right{
  width: 80%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.slider-container{
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.slides {
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  animation: slide 4s infinite; 
}
.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.stat{
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.stat-chiffre{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffcc00;
}
.stat-texte{
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
@keyframes slide {
  0%, 45% { transform: translateY(0); }      /* Slide 1 visible (≈3s) */
  55%, 100% { transform: translateY(-100%);} /* Slide 2 visible (≈3s) */
}

.pourquoi{
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.pourquoi-container{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 50px;
}
.pourquoi-details{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.pourquoi-range{
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.pourquoi-range2{
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.pourquoi-range-box{
  width: 45%;
  height: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.pourquoi-range-box2{
  width: 45%;
  height: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.pourquoi-description{
  width: 75%;
  height: 95%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 10.5px;
  flex-wrap: wrap;
}
.pourquoi-description-titre{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 14px;
  color: green;
  margin-bottom: 2px;
}
.pourquoi-description-texte{
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 10.5px;
  flex-wrap: wrap;
}
.carte-icon{
  width: 25%;
  height: 90%;
}
.ampoule-icon{
  width: 25%;
  height: 85%;
}
.camera-icon{
  width: 27%;
  height: 90%;
}
.fleche-icon{
  width: 27%;
  height: 90%;
}
.slider {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background: green;
  color: white;
  overflow: hidden;
}
.gauche{
  width: 50%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.slider-text {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.slider-title {
  width: 85%;
  font-size: 40px;
  color: #ffcc00;
  font-family: 'MaPoliceBlack', sans-serif;
  margin-bottom: 10px;
}
.slider-description {
  font-size: 18px;
  color: #fff;
  font-family: 'MaPoliceRegular', sans-serif;
}
.btns{
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.slider-buttons {
  display: flex;
  gap: 15px;
}
.slider-buttons button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #ffcc00;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  transition: background 0.3s ease;
}
.slider-buttons button:hover {
  background: #c7a706;
}
.slider-images {
  width: 40%;
  height: 280px;
}
.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ticket-container{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.ticket{
  background: #ffcc00;
  padding: 5px 12px;
  border-radius: 5px;
  font-family: 'MaPoliceBlack';
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: zoom-dezoom 2s infinite ease-in-out;
}

.actus{
  width: 100%;
  height: 600px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.actus-container{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.actus-top{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.actu-btn{
  width: 18%;
  height: 50%;
  border: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.669);
  color: #000;
}
.actu-btn:hover{
  background-color: #ffcc00;
  color: #fff;
}
.actus-bottom{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.actus-range{
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.actus-box{
  width: 48%;
  height: 80%;
  background-color: #ffcc00;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:center;
  gap: 7px;
}
.actus-img{
  height:90%;
  width: 35%;
}
.actus-description{
  width:60%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.actus-texte{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 12px;
}
.actus-texte span{
  margin-bottom: 5px;
}
.actus-texte-titre{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}
.actus-details-btn{
  width: 25%;
  height: 15%;
  background-color: #8a8282;
  border: none;
  margin-right: -200px;
  border-radius: 30px;
}


.speakers2{
  width: 100%;
  height:350px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.speakers-title2{
  font-family: 'MaPoliceBlack';
  font-size: 40px;
  color: #ffcc00;
}
.speakers-bottom2{
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.speakers-arrow2{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  background-color: #ffcc00;
  border-radius: 50%;
}
.speakers-box2{
  width: 75%;
  height: 95%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.speaker-item2{
  width:20% ;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ffcc00;
}
.speaker-photo2{
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.speaker-photo2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.speaker-description2{
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nomspeaker2{  
  font-family: 'MaPoliceBlack';
  font-size: 15px;
  color: #fff;
}
.prenomspeaker2{  
  font-family: 'MaPoliceBlack';
  font-size: 15px;
  color: #fff;
}
.fonctionspeaker2{
  font-family: 'MaPoliceRegular';
  font-size: 10px;
  color: #000;
}

.sponsors-section {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 50px;
}
.sponsors-slider {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors-track-wrapper {
  width: 100%;
  height:90%; 
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.arrow {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 10px;
}
.sponsors-track {
  width: 100%;
  height:100% ;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  overflow: hidden;
}
.sponsor-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  width: 15.5%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsor-card img {
  max-width: 100%;
  max-height: 60px;
  object-fit: contain;
}
.position{
  min-width:3% ;
  height: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:center;
  gap: 5px;
}
.cercle{
  width: 8px;
  height: 8px;
  background-color: #edcd4f44;
  border-radius: 50%;
}
.cercle.active{
  background-color: #ffcc00;
}

.mobile-sponsors-section {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 50px;
  display: none;
}
.mobile-sponsors-slider {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-sponsors-track-wrapper {
  width: 100%;
  height:90%; 
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.mobile-arrow-left{
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 10px;
}
.mobile-arrow-right{
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 10px;
}
.mobile-sponsors-track {
  width: 100%;
  height:100% ;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  overflow: hidden;
}

.newsletter {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'MaPoliceRegular',sans-serif;
}
.newsletter-container{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  border: 1px solid #ffcc00;

}

.newsletter-title {
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 30px;
  color: #ffcc00;
}

.newsletter-text {
  width: 60%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.champnewsletter{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
}
.newsletter-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-input input {
  padding: 8px;
  border: 1px solid #ffcc00;
  outline: none;
  width: 230px;
}

.newsletter-btn {
  background: #ffcc00;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: 'MaPoliceBlack', sans-serif;
}
.newsletter-btn:hover{
  background-color: #f6b400;
}

.footer{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ffcc00;
}
.footer-container{
  width: 85%;
  height: 95%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.footer-left{
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.footer-left-top{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.footer-logo{
  width: 90%;
  height: 40%;
  background-color: #fff;
  margin-left: -30px;
}
.footer-texte{
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 14px;
  margin-top: -10px;
}
.footer-left-bottom{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.footer-titres{
  width: 100%;
  text-align: start;
  font-family: 'MapoliceBlack',sans-serif;
  font-size: 20px;
}
.footer-left-bottom-bottom{
  width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-left: -110px;
}
.fb-icon{
  width: 20%;
  height: 90%;
}
.insta-icon{
  width: 18%;
  height: 65%;
}
.in-icon{
  width: 20%;
  height: 70%;
}
.footer-centre{
  width: 20%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: -120px;
}
.footer-centre-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
}
.footer-liens{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 13px;
}
.footer-liens ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: space-between;
  gap: 5px;

}
.link{
  text-decoration: none;
  color: #000;
}
.footer-right{
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.footer-right-center{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.coordonees{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 13px;
}
.tel{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-left: -140px;
}
.phone-icon{
  width: 10%;
  height: 48%;
}
.email{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-left: -80px;

}
.email-icon{
  width: 10%;
  height: 55%;
}
.carte{
  width: 40%;
  height: 50%;
}
.footer-right-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 20px;
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 13px;
}


@media only screen and (max-width:767px){

.logo {
  width: 50%;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff54;
}
.header-bg {
  height: 40vh;
  width: 100%;
  background: url('../Images/bg.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'MaPoliceBlack', sans-serif;
}
.accueil-bg {
  height: 40vh;
  width: 100%;
  background: url('../Images/Banniereaccueil.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'MaPoliceBlack', sans-serif;
}

.overlay {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
  
.menu-tel{
  width: 4%;
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5%;
  margin-right: 10%;
  font-weight: bolder;
  font-size: 15px;
  background-color:transparent;
  cursor: pointer;
}
.nav-links {
  display: none;
}
.btn-ticket {
  background: #ffcc00;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: zoom-dezoom 2s infinite ease-in-out;
  display: none;
}
.presentation{
  width: 100%;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 80%;
}
.sae-presentation{
  width: 90%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 40px;
}
.sae-img{
  width: 55%;
  height: 90%;
  margin-top: 50px;
}
.sae-description{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  font-family: 'MaPoliceRegular', sans-serif;
}
.sae-description-texte{
  text-align: center;
}
.titre{
  width: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #ffcc00;
  font-family: 'MaPoliceBlack', sans-serif;
}
.gras{
  padding-right:5px ;
  padding-left:5px ;
  font-family: 'MaPoliceBlack', sans-serif;
}
.document-container{
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}
.doc-img{
  width: 25%;
  height: 100%;
  border: solid 3px black;
}
.doc-description{
  width: 75%;
  height: 67%;
  margin-top: 15px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
  padding-left: 5px;
}
.doc-description-top{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 85%;
  color: #ffcc00;
}
.doc-description-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: -10px;
}
.doc-weight{
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 11px;
  color: #fff;
}
.download{
  width: 40%;
  height: 50%;
  background-color: rgb(186, 180, 180);
  border: none;
  margin-right: 15px;
  font-family: 'MaPoliceRegular';
  font-size: 60%;
}
.chiffres{
  width: 90%;
  height:300px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}
.chiffres-plante{
  width: 100%;
  height: 26%;
  display: flex;
  align-items: flex-end;
}
.plante-chiffre{
  width: 6%;
  height: 70%;
  margin-left: 90%;
}
.chiffres-container{
  width: 100%;
  height: 25%;
  background-color: green;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
}
.chiffres-container-left{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffcc00;
  border-radius: 5px 0 0 5px;
}
.chiffres-container-left-top{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 90%;
  text-align: center;
}
.chiffres-container-left-bottom{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0px;
}
.chiffres-courbes{
  width: 50%;
  height: 100%;
}
.chiffres-container-right{
  width: 70%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.slider-container{
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.slides {
  width: 100%;
  height: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  animation: slide 4s infinite; 
}
.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.stat{
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.stat-chiffre{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 90%;
  text-align: center;
  color: #ffcc00;
}
.stat-texte{
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 50%;
  text-align: center;
  color: #fff;
}
.pourquoi{
  width: 100%;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding-bottom: 40px;
  margin-top: -80px;
}
.pourquoi-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.pourquoi-details{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-top: -130px;

}
.pourquoi-range{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}
.pourquoi-range2{
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.pourquoi-range-box{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.pourquoi-range-box2{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.pourquoi-description{
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 10.5px;
  flex-wrap: wrap;
  text-align: center;
}
.pourquoi-description-titre{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 14px;
  color: green;
  margin-bottom: 2px;
  text-align: center;
}
.pourquoi-description-texte{
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 10.5px;
  flex-wrap: wrap;
}
.carte-icon{
  width: 25%;
  height: 70%;
}
.ampoule-icon{
  width: 25%;
  height: 85%;
}
.camera-icon{
  width: 27%;
  height: 90%;
}
.fleche-icon{
  width: 27%;
  height: 90%;
}

.slider {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background: green;
  color: white;
  overflow: hidden;
  margin-top: -70px;
}
.gauche{
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: -30px;

}
.slider-text {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.slider-title {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #ffcc00;
  font-family: 'MaPoliceBlack', sans-serif;
  margin-bottom: 10px;
}

.slider-description {
  font-size: 80%;
  color: #fff;
  font-family: 'MaPoliceRegular', sans-serif;
  text-align: center;

}
.btns{
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: -25px;
}
.slider-buttons {
  display: flex;
  gap: 15px;
}

.slider-buttons button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #ffcc00;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  transition: background 0.3s ease;
}

.slider-images {
  width: 80%;
  height: 40%;
  margin-top: -1000px;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actus{
  width: 100%;
  height: 800px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.actus-container{
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content:center;
}
.actus-top{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-left: -40px;
}
.actu-btn{
  width: 40%;
  height: 30%;
  border: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 10%;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.669);
  color: #000;
}
.actu-btn:hover{
  background-color: #ffcc00;
  color: #fff;
}
.actus-actualites-container{
  width: 100%;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 95px;
}
.actualites-range{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.actus-box{
  width: 100%;
  height: 85%;
  background-color: #ffcc00;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:center;
  gap: 7px;
  margin-bottom: 10px;
}
.actus-img{
  height:75%;
  width: 35%;
  background: url('../Images/volaye.jpg') center/cover no-repeat;
}
.actus-description{
  width:60%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.actus-texte{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 55%;
  flex-wrap: wrap;
  margin-top: 10px;
}
.actus-texte-titre{
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 150%;
  margin-bottom: 5px;
}
.speakers-container{
display: none;
}

.speakers-mobile{
  width: 100%;
  height:300px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.sponsors-section {
  display: none !important ;
}
.mobile-sponsors-section {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 50px;
}

.sponsor-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  width: 30% !important;
  height: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'MaPoliceRegular',sans-serif;
}
.newsletter-container{
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 5px;

}
.newsletter-title {
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 25px;
  color: #ffcc00;
}
.newsletter-text {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: #333;
}
.champnewsletter{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
}
.newsletter-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-input input {
  padding: 8px;
  border: 1px solid #ffcc00;
  outline: none;
  width: 30%;
}
.newsletter-input input::placeholder {
  font-size: 8px;
}
.newsletter-btn {
  background: #ffcc00;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 10px;
  color: rgb(0, 0, 0);
  font-family: 'MaPoliceBlack', sans-serif;
}
.newsletter-btn:hover{
  background-color: #f6b400;
}


.footer{
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ffcc00;
}
.footer-container{
  width: 85%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.footer-left{
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}
.footer-left-top{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.footer-logo{
  width: 70%;
  height: 55%;
  background-color: #fff;
  margin-left: 0px;
}
.footer-texte{
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 14px;
  text-align: center;
}
.footer-left-bottom{
  width: 50%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.footer-titres{
  width: 100%;
  text-align: center;
  font-family: 'MapoliceBlack',sans-serif;
  font-size: 20px;
}
.footer-left-bottom-bottom{
  width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:center;
  margin-left: 0px;
}
.fb-icon{
  width: 25%;
  height: 90%;
}
.insta-icon{
  width: 23%;
  height: 65%;
}
.in-icon{
  width: 25%;
  height: 70%;
}
.footer-centre{
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: -50px;
}
.footer-centre-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
}
.footer-liens{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 12px;
}
.footer-liens ul{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 5px;

}
.link{
  text-decoration: none;
  color: #000;
}
.footer-right{
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: -30px;
}
.footer-right-center{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.coordonees{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 12px;
}
.tel{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-left: 5px;
}
.phone-icon{
  width: 15%;
  height: 45%;
}
.email{
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-left: 5px;
}
.email-icon{
  width: 15%;
  height: 50%;
}
.footer-right-bottom{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 20px;
  font-family: 'MapoliceRegular',sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}
.carte{
  width: 40%;
  height: 70%;
}
}