/* PAGE ACTUALITES */

.actualites{
  width: 100%;
  min-height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.actualites-container{
  width: 80%;
  min-height:250px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.actualites-range{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}



@media only screen and (max-width:767px){

/* ACTUALITES */

.actualites{
  width: 100%;
  min-height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.actualites-container{
  width: 80%;
  min-height:250px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 50px;
}


}