/* PAGE EXPOSANTS */

.Exposant{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.Exposant-titre{
  font-size: 40px;
  color: #ffcc00;
  font-family: 'MaPoliceBlack', sans-serif;
}
.Pourquoi-exposer{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.exposer-box{
  width: 25%;
  min-height: 35%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border: solid 1px #ffcc00 ;

}
.exposer-box-top{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.exposer-box-top-cercle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: solid 1px #ffcc00 ;
}
.globe{
  width: 90%;
  height: 90%;
}
.exposer-box-titre{
  width: 90%;
  font-size: 15px;
  color: green;
  font-family: 'MaPoliceBlack', sans-serif;
  flex-wrap: wrap;
}
.exposer-box-bottom{
  color: rgb(0, 0, 0);
  font-family: 'MaPoliceRegular', sans-serif;
  font-size: 13px;
  flex-wrap: wrap;
  text-align: start;
}


@media only screen and (max-width:767px){

  .Exposant{
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}
.Exposant-titre{
  font-size: 30px;
  color: #ffcc00;
  font-family: 'MaPoliceBlack', sans-serif;
  text-align: center;
}
.Pourquoi-exposer{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}
.exposer-box{
  width: 75%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border: solid 1px #ffcc00 ;
}
}
