@font-face {
  font-family: 'MaPoliceBlack';
  src: url('./Fonts/SFTSchriftedSansTRIAL-Black-BF6413e201335b1.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaPoliceRegular';
  src: url('./Fonts/SFTSchriftedSansTRIAL-Regular-BF6413e2027be50.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
}


/* Navbar */
.navbar-container {
  width: 100%;
  max-width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 1500;
  transition: background 0.3s ease;
  background: transparent;
  font-family: 'MaPoliceBlack', sans-serif;
  font-size: 10.5px;
}

.navbar-container.scrolled {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.liens-header{
  text-decoration: none;
  color: #000;
}
.lien-actif{
  color: #ffcc00;
  text-decoration: none;
}
.logo {
  width: 230px;
  height: 70px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-links li {
  cursor: pointer;
}
.btn-ticket {
  background: #ffcc00;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: zoom-dezoom 2s infinite ease-in-out;
}
@keyframes zoom-dezoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15); 
  }
  100% {
    transform: scale(1)
  }
}
.menu-deroulant {
  position: absolute;
  top: 80px;
  right: 55px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  width: 200px;
  z-index: 1000;
  color: #000;
}
.menu-item {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 2px;
}

.menu-item:hover {
  background-color: #ffcc007f;
}




.header-bg {
  height: 100vh;
  width: 100%;
  background: url('./Images/bg.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'MaPoliceBlack', sans-serif;
}


/* POP-UP BAGDE */

/* Overlay qui couvre tout l'écran */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
/* Container principal */
.popup-container {
  position: relative;
  display: flex;
  background: white;
  width: 55%;
  height: 350px;
}

/* Bouton fermer */
.close-btn {
  position: absolute;
  top: 115px;
  right: 215px;
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}


/* Colonne gauche (image) */
.popup-left {
  width: 35%;
  height: 100%;
  z-index: 1000;
}

.popup-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plante-bagde{
  width: 90px;
  height: 60px;
  transform: rotate(-60deg);
  position: absolute;
  left: 215px;
  bottom: 14px;
  opacity: 0.5;
}
.courbe-jaune{
  width: 90px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  transform: scaleY(-1);
}
/* Colonne droite (formulaire) */
.popup-right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.titre-form-bagde{
  font-family: 'MaPoliceBlack';
  font-size: 25px;
  text-align: center;
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
  background-color: #fff;
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;
}
.row2 {
  width: 100%;
  display: flex;
  gap: 10px;
}
.row2 input {
  width: 48%;
}

.row-colomn{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 input, select ,textarea{
  padding: 10px;
  border: none;
  background: #ffcc007f;
  font-size: 14px;
}
input::placeholder{
  color: #000;
  font-family: 'MaPoliceRegular';
}
textarea::placeholder{
  color: #000;
  font-family: 'MaPoliceRegular';
}

input,textarea{
  flex: 1;
}
select{
  width: 100%;
}
select option{
font-family: 'MaPoliceRegular';
}
.btn-valider {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'MaPoliceBlack';
}
.sous-titre-form{
  font-family: 'MapoliceBlack';
  color: green;
  font-size: 15px;
}
.btn-valider:hover {
  background: rgb(1, 98, 1);
}


/* FORMULAIRES */

.formulaires{
  width: 100%;
  min-height: 670px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #00000041;
}
.formulaires2{
  width: 100%;
  min-height: 670px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #00000041;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-formulaires{
  width: 35%;
  min-height:300px ;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.form-header{
  width: 90%;
  height:150px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.form-title{
  font-family: 'MaPoliceBlack';
}
.baniere{
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.form-body{
  width: 90%;
  min-height:200px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
}
.form-description{
  min-height: 50px;
}
.form-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

.form-step {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: border 0.3s;
}


.btn {
  width: 40%;
  padding: 10px 16px;
  border: none;
  background-color: #ff4c1e;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'MaPoliceBlack';
}

.btn:hover {
  background-color: #ff4b1ed7;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 80px;
}

.prev {
  font-family: 'MaPoliceBlack';
  background-color: #5a3a00;
}

.prev:hover {
  background-color: #5a3b00c1;
}

.submit {
  font-family: 'MaPoliceBlack';
  background-color: green;
}

.submit:hover {
  background-color: #218838;
}



.menu-tel{
  width: 4%;
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5%;
  font-weight: bolder;
  font-size: 15px;
  background-color:#fff;
  cursor: pointer;
  display: none;
}
.menu-deroulant-tel{
  width: 45%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4%;
  margin-right: 10%;
  font-family: 'MaPoliceBlack', sans-serif;
  color: white;
  font-size: 100%;
}
.tel-close{
  width: 90%;
  font-size: 15px;
  font-weight: bolder;
  text-align: right;
  color: #000;
  cursor: pointer;
}
.tel-links{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.liens-tel-header{
  text-decoration: none;
  color: #000;
  text-align: left;
  width: 90%;
}
.lien-tel-actif{
  color: #ffcc00;
  text-decoration: none;
  text-align: left;
  width: 90%;
}
.btn-rejoindre {
  background: #ffcc00;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: zoom-dezoom 2s infinite ease-in-out;
}
.menu-rejoindre-tel {
  position: absolute;
  top: 195px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  width: 100%;
  z-index: 1000;
  color: #000;
}
.menu-rejoindre-tel-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 2px;
  font-size: 12px;
}

.menu-rejoindre-tel-item:hover {
  background-color: #ffcc006e;
}







.speakers-mobile{
  width: 100%;
  height:300px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  display: none;
}
.speakers-title{
  font-family: 'MaPoliceBlack';
  font-size: 30px;
  color: #ffcc00;
}
.speakers-bottom{
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.speakers-arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  background-color: #ffcc00;
  border-radius: 50%;
}
.speakers-box-mobile{
  width: 75%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.speaker-photo{
  width: 75%;
  height: 60%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.speaker-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.speaker-description-mobile{
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nompeaker{  
  font-family: 'MaPoliceBlack';
  font-size: 15px;
  color: #fff;
}
.prenomspeaker{  
  font-family: 'MaPoliceBlack';
  font-size: 15px;
  color: #fff;
}
.fonctionspeaker{
  font-family: 'MaPoliceRegular';
  font-size: 10px;
  color: #000;
}



@media only screen and (max-width:767px){






/* POP-UP BAGDE */

/* Overlay qui couvre tout l'écran */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
/* Container principal */
.popup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: white;
  width: 90%;
  height: 350px;
}

/* Bouton fermer */
.close-btn {
  position: absolute;
  top: 125px;
  right: 15px;
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

.popup-left {
  width: 100%;
  height: 40%;
  z-index: 1000;
}

.popup-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plante-bagde{
  width: 60px;
  height: 40px;
  transform: rotate(-55deg);
  position: absolute;
  left: -4px;
  bottom: 8px;
  opacity: 0.5;
}
.courbe-jaune{
  width: 60px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 140px;
  opacity: 0.5;
  transform: scaleY(-1);
}
.popup-right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.titre-form-bagde{
  font-family: 'MaPoliceBlack';
  font-size: 15px;
  text-align: center;
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
  background-color: #fff;
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;
}
.row2 {
  width: 100%;
  display: flex;
  gap: 10px;
}
.row2 input {
  width: 48%;
}
.row-colomn{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 input, select ,textarea{
  padding: 5px;
  border: none;
  background: #ffcc007f;
  font-size: 10px;
}
input::placeholder{
  color: #000;
  font-family: 'MaPoliceRegular';
}
textarea::placeholder{
  color: #000;
  font-family: 'MaPoliceRegular';
}

input,textarea{
  flex: 1;
}
select{
  width: 100%;
}
select option{
font-family: 'MaPoliceRegular';
}
.btn-valider {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'MaPoliceBlack';
}
.sous-titre-form{
  font-family: 'MapoliceBlack';
  color: green;
  font-size: 15px;
}
.btn-valider:hover {
  background: rgb(1, 98, 1);
}


/* FORMULAIRES */

.formulaires{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #00000041;
}
.formulaires2{
  width: 100%;
  min-height: 670px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #00000041;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-formulaires{
  width: 90%;
  min-height:300px ;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.form-header{
  width: 90%;
  height:120px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.form-title{
  font-family: 'MaPoliceBlack';
}
.baniere{
  width: 100%;
  height: 90px;
  object-fit: cover;
}
.form-body{
  width: 90%;
  min-height:200px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 15px;
}
.form-description{
  min-height: 50px;
}
.form-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

.form-step {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: border 0.3s;
}


.btn {
  width: 40%;
  padding: 10px 16px;
  border: none;
  background-color: #ff4c1e;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'MaPoliceBlack';
}

.btn:hover {
  background-color: #ff4b1ed7;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 80px;
}

.prev {
  font-family: 'MaPoliceBlack';
  background-color: #5a3a00;
}

.prev:hover {
  background-color: #5a3b00c1;
}

.submit {
  font-family: 'MaPoliceBlack';
  background-color: green;
}

.submit:hover {
  background-color: #218838;
}
}